<!DOCTYPE html>
<html lang="en">\
    
    <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>

    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
       <div id = "app"> 

<button 
v-for="color in colors"  
v-bind:style ="{backgroundColor:color,}"    
v-on:click="addbox(color)"> 
  
    {{color}} </button>

    <template v-if="boxs.length==0">
      <div>no box!!</div>
    </template>
    <template v-else>
        <div v-for ="box,index in boxs"
        v-bind:key="box.id"
        v-bind:style="{
         position:'relative',
         width:'150px',
         borderStyle:'solid',
         borderWidth:'1px',
         backgroundColor:box.color   
        }">{{box.id}}. {{box.color}}   
        <span style="position: absolute;right: 0;"><button>X</button>
              <button v-if="index!=0">^</button>
              <button v-if="index!=boxs.length-1">V</button> </span>
        
       </div>
    </template>
</div>
       
      

         
       
         
    



      <script>
      var app = new Vue({
       //element
       el:"#app",
       data:{
          lastid:0,
          colors:['red','green','blue','pink','yellow','white'],
          selectcolor:'',
          boxs:[]
     

       
           } ,
           methods:{
               addbox: function(color){
                 this.boxs.push({
                     id:this.lastid++,
                     color:color});
           },
              isloveanimals:function(){
              return this.loveType=='animals';
           },
              isloveflower:function(){
              return this.loveType=='flower';
           }
        }, 

           watch:{
               loveType:function(newValue,oldValue){

                this.LoveList=[];
               }
           }   
      });
      </script>

    </body>
</html>