<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


    </div>

    <div id="app">
        <a>username</a>
        <input type="text" id="name" v-model="person.name">
        <a>surname</a>
        <input type="text" id="name" v-model="person.surname">

        <template>
            <input type="radio" value="red" id="red" v-model="person.color">
            <label for="red">Red</label>

            <input type="radio" value="pink" id="pink" v-model="person.color">
            <label for="pink">Pink</label></template>

        <input type="radio" value="yellow" id="yellow" v-model="person.color">
        <label for="yellow">Yellow</label>
        </template>

        <button @click="addboxs">insert</button>

        <ol v-for="box in boxs" :key="box.id" v-bind:style="{
            position:'relative',
            width:'900px',
            borderStyle:'solid',
            borderWidth:'1px',
            backgroundColor:box.person.color   
           }">{{box.person.id}} {{box.person.name}} {{box.person.surname}}
            <span style="position: absolute;right: 0;"@click="del(box.person.id)"><button>X</button>
                <button v-if="box.person.id!=0"@click="up(box.person.id)">^</button>
                <button v-if="box.person.id!=boxs.length-1"@click="down(box.person.id)">V</button> </span>
        </ol>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                person: {
                    name: "",
                    surname: "",
                    color: "",
                    id: 0
                },
                boxs: []





            },
            methods: {
           

                addboxs: function () {
                    name = this.person.name 
                    asurname = this.person.surname 
                    aid = this.person.id
                    color = this.person.color;
                    this.boxs.push({person:{name:name,surname:asurname,id:aid,color:color}})
                   this.person.id = this.person.id+=1;

                },
                del: function (index) {
                   this.boxs.splice(index,1)

                },
                up: function (index) {
                    console.log(index)
                    var  temp = [this.boxs[index-1],this.boxs[index]]
                    this.boxs.splice(index-1,2,[temp[1],temp[0]])

                },
                down: function (index) {
                    console.log(index)

                },
               
            }
        });

    </script>